1 VERSIONINFO
FILEVERSION     5,0,5,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "My Company Name"
      VALUE "FileDescription", "Neemscript Interpreter"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "neem"
      VALUE "LegalCopyright", "505e06b2"
      VALUE "OriginalFilename", "neem.exe"
      VALUE "ProductName", "Neemscript"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

id ICON "../../icon.ico"