body, textarea {
	background: #1a1a1a;
	color: #eee;
	padding:0;
	margin:0;
	font-family: monospace;
	white-space: pre;
}

div .righticon {
	padding-right: 5px;
	float: right;
}

div .righticon a {
	padding-right: 5px;
}

table {
	position:absolute;
	width:100%;
	height:100%;
}

#fstable {
	height:100%;
	overflow: auto;
}

#fstable div:nth-child(even) {
    background: #222;
}

#qrpreview {
	height:100% !important;
	width:auto !important;
}

.header {
	height: 30px;
	font-size: 18px;
	font-family: monospace;
	text-align: center;
}

.headerbutton {
	background: #333;
	height:33px;
}

textarea {
	resize: none;
	width: 100%;
	height: 100%;
}

.ontop {
	position:absolute;
	text-align:center;
	background:#333;
	padding:5px;
	border:solid 2px #eee;
	z-index:100;
}

a {
	color: #eee;
	text-decoration: none;
}

#info {
	position:absolute;
	left:10px;
	top:35px;
	width:auto;
	height:auto;
	display:none;
}

#infobutton:hover~#info, #infobutton:active~#info {
	display: block;
}

#replacescript, #runscript {width:auto}
.buttonpanel button {height:100%}
button {width:33%}